# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore database files
db/database.sqlite
db/*.sqlite-journal

# Ignore logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
